<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://iworkout.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>iworkout.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>iworkout</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$iworkout</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="iWorkoutEDMContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User ID=PlocksPrisoners@l9ww01wffp;Password=$ummer2014" Name="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User Id=PlocksPrisoners@l9ww01wffp;Password=$ummer2014" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataLayer.iWorkoutEDMContainer, DataLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="iWorkoutAzureDBConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User ID=PlocksPrisoners@l9ww01wffp;Password=$ummer2014" Name="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User Id=PlocksPrisoners@l9ww01wffp;Password=$ummer2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iWorkoutAzureDB;User ID=PlocksPrisoners;Password=$ummer2014;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\iWorkoutAzureDBConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iWorkoutAzureDB;User ID=PlocksPrisoners;Password=$ummer2014;MultipleActiveResultSets=True;Application Name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="MembershipSqlServer" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User ID=PlocksPrisoners@l9ww01wffp;Password=$ummer2014" Name="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User Id=PlocksPrisoners@l9ww01wffp;Password=$ummer2014" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;Persist Security Info=True;User ID=PlocksPrisoners;Password=$ummer2014" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MembershipSqlServer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;Persist Security Info=True;User ID=PlocksPrisoners;Password=$ummer2014" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)iWorkoutAzureDBConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:l9ww01wffp.database.windows.net,1433;initial catalog=iworkout_db;user id=PlocksPrisoners@l9ww01wffp;password=$ummer2014;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)iWorkoutEDMContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/iWorkoutEDM.csdl|res://*/iWorkoutEDM.ssdl|res://*/iWorkoutEDM.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User Id=PlocksPrisoners@l9ww01wffp;Password=$ummer2014"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MembershipSqlServer-Web.config Connection String">
      <ParameterValue>Data Source=tcp:l9ww01wffp.database.windows.net,1433;Initial Catalog=iworkout_db;User Id=PlocksPrisoners@l9ww01wffp;Password=$ummer2014</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>